@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  text-align: center;
  scroll-behavior: smooth;
}

#Images::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

#Images::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#Images::-webkit-scrollbar-track {
  background: transparent;
}

#Images::-webkit-scrollbar-thumb {
  background: transparent;
}

#Images::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

#Text {
  overflow-y: hidden;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}
